article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Kaushan+Script&display=swap');
/* Just testing out */
/* --------------------------------- */
/* Base setup */
/* --------------------------------- */
html {
    font-size: 125%;
}

body {
    position: relative;
}

img {
    /* //NOTE this may need to be overwritten in further partials via a width property */
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

a {
    display: inline-block;
    text-decoration: none;   
}

body {
    background-image: url(./assets/sunset.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

/* --------------------------------- */
/* Typography */
/* --------------------------------- */

ul,
li,
a,
input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}
.App {
    text-align: center;
}

/* APP.JS STYLES */

.nav-container{
    display: flex;
    justify-content: center;
    gap: 20px
}

li {
    list-style-type: none;
}

a {
    font-size: 1.2rem;
    color: black;
    font-family: 'Dosis', sans-serif;
}

nav a:hover {
    color: grey;
    text-decoration: underline;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    margin-top: 10px;
    
}

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    text-decoration: underline;
}

/* SEARCH STYLES */

.output-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 20px;
    padding-bottom: 80px;
    
}

.output-item {
    flex-basis: 18%;
    border: 1px solid black;
    background-color: papayawhip;
    font-family: 'Dosis', sans-serif;
    /* text-transform: capitalize; */
    padding: 10px 10px;
}

.output-item:hover {
    background-color: white;
}
/* BUTTON */

.button-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 0.1rem 0.5rem;
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        background-color: #b2b49f;
        border: 1px solid #b2b49f;
        font-family: 'Dosis', sans-serif;
}
button:focus {
    background-color: white;
}

.delete-btn {
    color: red;
    background-color: grey;
    border-radius: 20%;
}
/* LIST ITEMS */
.plus-icon::before {
    font-size: 0.8rem;
    padding-left: 5px;
    color: green;
}
.minus li {
    color: green;
}

/* PLAYLIST ROUTE STYLES */

.main-route-playlist-container {
    display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;
        gap: 20px;
        padding-bottom: 80px;
}

.main-route-playlist-items {
    flex-basis: 30%;
        border: 1px solid black;
        background-color: papayawhip;
        font-family: 'Dosis', sans-serif;
        
}

.main-route-playlist-items a {
    width: 100%;
    padding: 30px;
}

.main-route-playlist-items:hover {
    background-color: white;
    
}

.main-route-playlist-items.add {
    background-color: #C8B6E2;
}


/* START UP PAGE */

.start-up-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}


/* --------------------------------- */
/* About */
/* --------------------------------- */

span a {
    font-weight: bold;
    text-decoration: underline;
}

.team-info {
    display: flex;
    justify-content: space-between;
}

img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.dev-name {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 10px;
}

.icon-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

i {
    font-size: 1.5rem; 
}

/* CREATE WORDLIST INPUT */
input {
    padding: 7px;
}

/* FOOTER STYLES */

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left:0;
    right:0;
}

.footer a {
    text-decoration: underline;
}

.footer a:hover {
    color: white;
}


.second-div i{
    display: none;
}

.second-div li::after {
    content: "\2715";
    font-size: 20px;
    padding-left: 5px;
    color:red;
}


@media (max-width:800px) {
    .team-info {
        flex-direction: column;
        align-items: center;
        padding-bottom: 80px;
    }

    .team-info li {
        padding-bottom: 20px;
    }
}
